body
{
    display: block;
    background-color: #1E1E1E;
}

#header
{
    display: flex;
    justify-content: center;
    /*border-style: solid;*/
}

.header_buttons
{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: #EEEEEE;
}

#name_title_div
{
    display: flex;
    justify-content: center;
    /*border-style: solid;*/
}

#name_title
{
    font-size: 5vw;
    /*border-style: solid;*/
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;

}

#description_div
{
    display: flex;
    justify-content: center;
    /*border-style: solid;*/
    text-align: center;
    color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}

/* Code for the terminal. DO NOT TOUCH THIS! */

@keyframes blinkCursor 
{
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete 
  {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 10em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader 
  {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    /* font-size: 1vw; */  /* Change this for resizing (idk why)*/
    padding: 1.5em 1em;
    width: 12em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls 
  {
    float: right;
  }
  
  .control 
  {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close 
  {
    background-color: #e33;
  }
  
  .control.minimize 
  {
    background-color: #ee0;
  }
  
  .control.maximize 
  {
    background-color: #0b0;
  }
  
  .terminal-title 
  {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .text 
  {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }


/* Custom terminal div scaling */
#terminal_div
{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
    /*border-style: solid;*/
}

/* Code for the button. DO NOT TOUCH THIS */
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #1E1E1E;
  --button_outline_color: #EEEEEE; 
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* button div code */
#button_div {
  display: flex;
  justify-content: center;
  /*border-style: solid;*/;
  margin-top: 6vw;
}

section {
  display: flex;
  align-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

#top-content
{
  min-height: 100vh;
}

/* Some scaling issue fix for the min-height above. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#projects_title {
  /*border-style: solid;*/
  margin-top: 3vw;
  margin-bottom: 3vw;
  color: #EEEEEE;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
}

#about_me_description
{
  margin-top: 3vw;
  margin-bottom: 3vw;
  color: #EEEEEE;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vw;
  opacity: 0.80;
}

@media screen and (max-width: 800px) {
  button {
    font-size: 4vw;
  }

  .header_buttons
  {
    font-size: 4vw; 
  }

  #projects_title, #about_me_description
  {
    font-size: 4vw;
  }

}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  button {
    font-size: 2.5vw;
  }
  .header_buttons
  {
    font-size: 2.5vw; 
  }

}


@media screen and (min-width: 1200px) {
  button {
    font-size: 1.5vw;
  }
  .header_buttons
  {
    font-size: 2vw; 
  }
}



